# Server Configurations
PORT=5000
NODE_ENV=development

# Database Configuration
# Local MongoDB: mongodb://127.0.0.1:27017/smart-parking-system
# MongoDB Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/smart-parking-system
MONGODB_URI=mongodb://127.0.0.1:27017/smart-parking-system

# Authentication
# Secret key used for signing JWTs (must be kept secret in production)
JWT_SECRET=jwt_parking_secret_key_123456

# AI Python Service URL
AI_SERVICE_URL=http://127.0.0.1:8000
